streamlit>=1.32.0
python-dotenv>=1.0.1

langchain-core>=0.2.34
langchain-community>=0.2.12
langchain-openai>=0.1.22

langchain-text-splitters>=0.2.2
faiss-cpu>=1.8.0.post1
unstructured>=0.14.9
tiktoken>=0.7.0
